.yellow4 {
	background-color: #FFFFCC;
	color: #CCCCCC;
}
.yellow3 {
	background-color: #FFFF99;
	color: #999999;
}
.yellow2 {
	background-color: #FFFF66;
	color: #666666;
}
.yellow1 {
	background-color: #FFFF00;
}
